%footer
  .container
    %p.pull-right
      = link_to 'Fork me on Github', 'https://github.com/corny/donations'
      \|
      = link_to 'Impressum', 'https://www.digineo.de/impressum'
    %p.text-muted
      Diese Datenbank erhebt keinen Anspruch auf Korrektheit und Vollständigkeit.
